* {
  box-sizing: border-box;
  transition: .2s ease-in-out;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: #f8f9fa;
}

.light {
  color: #f8f9fa;
}

.padding {
  padding: 8px;
}

.link {
  color: unset;
  text-decoration: underline;
}

.link:hover {
  transform: scale(1.05);
}